body {
    padding: 10px;
    margin: 0 auto;
}

header{
	background-color: lightgray;
    background-image: url(../Images/flywheel.jpg);
    background-size: 100%;
    padding: 20px;
}

h1{
	text-align: center;
	color: white;
    text-transform: uppercase;
    font-size: 16px;
}

h2{
	color: black;
}


nav a {
    display: inline-block;
    margin: 10px 50px;
    text-decoration: none;
    width: 120px;
    height: 20px;
    padding: 10px;
    color: black;
    border: solid 1px transparent;
    border-radius: 10%;
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
}


.active {
    background-color: white;
}



aside img{
	display: block;
    height: 100px;
    width: 150px;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px black solid;
    align-items: center;
}

aside {
    background-color: darkolivegreen;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    height: 600px;
}

section {
    display: inline-block;
    float: right;
    width: 850px;
}

table {
    font-family: Georgia; 
    font-size: 16px;
    font-weight: lighter;
    line-height: 36px;
    vertical-align: middle;
    width: 80%;
    margin: 5%;   
}

th {
    border: purple 2px solid;
    border-bottom: purple 3px solid;
    color: white; 
    font-weight: 600;
    background: rgba(215, 174, 59, 1.0);
    background: -webkit-radial-gradient(top left, rgba(215, 174, 59, 1.0), rgba(179, 42, 160, 1.0));
    background: -moz-radial-gradient(top left, rgba(215, 174, 59, 1.0), rgba(179, 42, 160, 1.0));
    background: radial-gradient(top left, rgba(215, 174, 59, 1.0), rgba(179, 42, 160, 1.0));
    border-radius: 7px 7px 0 0; 
    padding: 5px;
}


tr {
    opacity: 0.8; 
}

td:first-child {
    text-align: left;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

th:first-child {
    text-align: left;
}

tr:hover {
    opacity: 1;
}


td {
    background-color: papayawhip;
    padding: 5px;
    color: darkslategray;
    border-radius: 2px;
    text-shadow: 0.5px 0.5px 2px darkslategray;
    font-size: 14px;
}